#app .error{
    border: 1px solid red
}

#app .OK{
    border: 1px solid green
}


#app .numberInput{
    font-size: 1em !important
}

#app .mytitle{
    margin-top: 5px !important;
    margin-bottom: 10px !important;
    text-align: center;
    color: #1d9ce5
}

#app .swtflexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#app .swtflexboxVertical {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app .item {

}

#app input {
    font-size: 1em;
    fontFamily: "Roboto, sans-serif";
}

#app .table {
    width: 100%;
    text-align: center;
    table-layout: fixed
}

#app th {
    vertical-align: top !important;
    text-align: center;
    max-width:100%;
    word-wrap:break-word;
    white-space: normal;
}
#app td {
    max-width: 550px;
    word-wrap:break-word;
    overflow: hidden;
}

#app .table #requestData tr {
    text-align: right !important;
}

#searchFlex {
    display:flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    align-content: center;
    -webkit-align-content: center;
    justify-content: center;
    -webkit-justify-content: center;
    flex-direction: column;
    -webkit-flex-direction: column;
}

@media (max-width: 991px) {
    #filterAndSearchFlex {

        display: -webkit-box;
        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: -moz-box;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        justify-content: space-around;

    }
}

@media (min-width: 992px) {
    #filterAndSearchFlex {

        display: flex;
        display: -ms-flexbox;
        display: -webkit-flex;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        flex-wrap: nowrap;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        justify-content: space-around;
    }
}

#app .flexbox-container {
    display: -webkit-flex;
    display: flex;
    display: -ms-flexbox;
    -webkit-flex-direction: row; /* works with row or column */
    flex-direction: row;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
    flex-wrap:  wrap;
}

#app .flexbox-container > div {
    /*width: 33%;*/
    padding: 10px;
}

#app .flexbox-container > div:first-child {
    /*margin-right: 20px;*/
}

/*
@media (min-width: 992px) {
    .appcontainer {
        width: 1250px !important;
    }
}

@media (min-width: 1250px) {
    .appcontainer {
        width: 1470px !important;
    }
}
*/
